openapi: 3.0.3
info:
  title: Codiqo API
  description: |
    API for code commit analysis optimized for LLM-based risk assessment and automated fixes.
    
    ## Purpose
    - Calculate commit risk/complexity scores based on code changes and their impact
    - Provide caller information for blast radius analysis
    - Enable automated PR suggestions via LLM + JDTLS integration
    - Detect code duplication (copy-paste detection)
    - Index codebase for cross-reference analysis
    
    ## Key Concepts
    - **Affected Code Units**: Methods/constructors changed in a commit
    - **Callers**: Who calls the affected code (impact/blast radius)
    - **Diagnostics**: Static analysis issues in affected code
    - **Coverage**: Test coverage of affected code
    - **Duplication**: Copy-paste detection results
    - **Codebase Index**: Full codebase symbol index for CPD resolution
    
    ## Risk Scoring Factors
    - Number of callers (blast radius)
    - Complexity metrics (cyclomatic, cognitive)
    - Test coverage of affected code
    - Static analysis violations
    - Whether callers are in test vs production code
    - Code duplication percentage
    
    ## LLM Scoring
    - LLM makes 100% judgment (0-100 score)
    - DIFF is the primary signal, not container metrics
    - Bugs classified as BLOCKING/MAJOR/MINOR
    - Quality assessment: NEW code clean, MODIFY improves
  version: 1.0
  contact:
    name: Codiqo
    url: https://codiqo.io

servers:
  - url: https://api.codiqo.io
    description: Production

tags:
  - name: Analysis
    description: Commit analysis and risk scoring

paths:
  /api/v1/analyses:
    post:
      operationId: submitAnalysis
      tags: [Analysis]
      summary: Submit commit analysis for risk scoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisSubmissionModel'
      responses:
        '202':
          description: Analysis accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisAcceptedModel'
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
        - apiKey: []

  /api/v1/analyses/{analysisId}:
    get:
      operationId: getAnalysis
      tags: [Analysis]
      summary: Get analysis result with risk score
      parameters:
        - name: analysisId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResultModel'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []
  /api/v1/analyses/commit/{commitSha}:
    get:
      operationId: getAnalysisByCommitSha
      tags: [Analysis]
      summary: Get analysis result by commit SHA
      parameters:
        - name: commitSha
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResultModel'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []
    delete:
      operationId: deleteAnalysis
      tags: [Analysis]
      summary: Permanently delete an analysis and all associated data
      parameters:
        - name: commitSha
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Analysis deleted successfully
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

  /api/v1/analyses/commit/{commitSha}/exclude:
    patch:
      operationId: excludeAnalysis
      tags: [Analysis]
      summary: Exclude (soft-delete) an analysis
      parameters:
        - name: commitSha
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisExcludeModel'
      responses:
        '204':
          description: Analysis excluded successfully
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'

  schemas:
    # ==========================================================================
    # Main Request/Response
    # ==========================================================================

    AnalysisExcludeModel:
      type: object
      properties:
        reason:
          type: string
          description: Optional reason for excluding this analysis

    AnalysisSubmissionModel:
      type: object
      required: [project, commit, files]
      properties:
        project:
          $ref: '#/components/schemas/ProjectModel'
        commit:
          $ref: '#/components/schemas/CommitModel'
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileChangeModel'
        dependencies:
          $ref: '#/components/schemas/DependencyRegistryModel'
        duplication:
          $ref: '#/components/schemas/DuplicationReportModel'
        index:
          $ref: '#/components/schemas/CodebaseIndexModel'
        client:
          $ref: '#/components/schemas/ClientInfoModel'
        existingTags:
          $ref: '#/components/schemas/ExistingTagsModel'
        projectMetrics:
          $ref: '#/components/schemas/ProjectMetricsModel'
        projectQuality:
          $ref: '#/components/schemas/ProjectQualityModel'
        fullProjectCoverage:
          $ref: '#/components/schemas/FullProjectCoverageModel'
        scoringConfig:
          $ref: '#/components/schemas/ScoringConfigModel'

    AnalysisAcceptedModel:
      type: object
      required: [analysisId, status]
      properties:
        analysisId:
          type: string
          format: uuid
        status:
          type: string
          enum: [accepted, processing]
        estimatedCompletionSeconds:
          type: integer
          minimum: 0
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
            status:
              type: string
              format: uri

    AnalysisResultModel:
      type: object
      required: [analysisId, project, commit, riskScore]
      properties:
        analysisId:
          type: string
          format: uuid
        project:
          $ref: '#/components/schemas/ProjectModel'
        commit:
          $ref: '#/components/schemas/CommitModel'
        status:
          type: string
          enum: [pending, processing, completed, failed]
        riskScore:
          $ref: '#/components/schemas/RiskScoreModel'
        summary:
          $ref: '#/components/schemas/AnalysisSummaryModel'
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileChangeModel'
        dependencies:
          $ref: '#/components/schemas/DependencyRegistryModel'
        duplication:
          $ref: '#/components/schemas/DuplicationReportModel'
        completedAt:
          type: string
          format: date-time
        llmAnalysis:
          $ref: '#/components/schemas/LlmAnalysisModel'
        changeClassification:
          type: string
          enum: [trivial, small, medium, large, huge]
          description: |
            Size-based classification of the change:
            - trivial: 5-15 score (typo fix, log message)
            - small: 20-40 score (bug fix, minor enhancement)
            - medium: 50-80 score (new feature, moderate refactor)
            - large: 90-140 score (major feature, significant refactor)
            - huge: 150-200+ score (architecture change, large migration)
        bugs:
          $ref: '#/components/schemas/BugsModel'
        riskAssessment:
          $ref: '#/components/schemas/RiskAssessmentModel'
        assessment:
          $ref: '#/components/schemas/AssessmentModel'
        requiresSeniorReview:
          type: integer
          minimum: 0
          maximum: 10
          description: |
            0 = No review needed
            1-3 = Optional peer review
            4-6 = Recommended review
            7-8 = Senior review recommended
            9-10 = Critical review required
        seniorReviewReasons:
          type: array
          items:
            type: string
        tags:
          $ref: '#/components/schemas/ReviewTagsModel'
        projectMetrics:
          $ref: '#/components/schemas/ProjectMetricsModel'
        projectQuality:
          $ref: '#/components/schemas/ProjectQualityModel'
        fullProjectCoverage:
          $ref: '#/components/schemas/FullProjectCoverageModel'
        score:
          type: number
          format: double
          description: |
            Final computed effort score.
            Formula: baseEffort × qualityMultiplier + architectureBonus
        scoreCalculation:
          type: string
          description: Human-readable formula showing the score calculation
        llmSummary:
          type: string
          description: Narrative summary of the commit from LLM analysis

    # ==========================================================================
    # Project Metrics & Quality (Global Level)
    # ==========================================================================

    ProjectMetricsModel:
      type: object
      description: |
        Global project-level metrics aggregated across all modules.
        Provides context for LLM scoring relative to project size.
      properties:
        totalLines:
          type: integer
          minimum: 0
          description: Total lines of code across all modules in the project
        totalFiles:
          type: integer
          minimum: 0
          description: Total number of source files in the project
        totalMethods:
          type: integer
          minimum: 0
          description: Total number of methods across all modules
        totalClasses:
          type: integer
          minimum: 0
          description: Total number of classes across all modules
        averageComplexity:
          type: number
          format: double
          minimum: 0
          description: Average cyclomatic complexity across all methods
        averageCoverage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Average test coverage percentage across all code
        linesPerMethodQuantile:
          type: integer
          minimum: 0
          description: Configurable quantile (default P75) of NCSS per method across all project methods

    ProjectQualityModel:
      type: object
      description: |
        Global project-level quality metrics for the commit.
        Aggregated across all changed files and modules.
      properties:
        totalPmdViolations:
          type: integer
          minimum: 0
          description: Total PMD violations across all changed files
        totalSpotbugsIssues:
          type: integer
          minimum: 0
          description: Total SpotBugs issues across all changed files
        averageCoverage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Average coverage percentage across all changed code units
        cpdDuplicationPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: CPD duplication percentage across all changed files
        filesChanged:
          type: integer
          minimum: 0
          description: Number of files changed in this commit
        codeUnitsAffected:
          type: integer
          minimum: 0
          description: Number of code units (methods/constructors) affected
        averageComplexity:
          type: number
          format: double
          minimum: 0
          description: Average complexity of changed code units

    # ==========================================================================
    # Full Project Coverage (All Code Units)
    # ==========================================================================

    FullProjectCoverageModel:
      type: object
      description: |
        Complete coverage metrics for ALL code units in the project,
        not just commit-affected ones. Provides baseline for coverage gates.
      properties:
        totalMethods:
          type: integer
          minimum: 0
          description: Total methods/constructors in the project
        coveredMethods:
          type: integer
          minimum: 0
          description: Methods with at least partial coverage
        uncoveredMethods:
          type: integer
          minimum: 0
          description: Methods with zero coverage
        totalExecutableLines:
          type: integer
          minimum: 0
          description: Total executable lines across all methods
        coveredLines:
          type: integer
          minimum: 0
          description: Lines that are covered (full or partial)
        missedLines:
          type: integer
          minimum: 0
          description: Lines that are not covered
        totalBranches:
          type: integer
          minimum: 0
          description: Total branches across all methods
        coveredBranches:
          type: integer
          minimum: 0
          description: Branches that are covered
        missedBranches:
          type: integer
          minimum: 0
          description: Branches that are not covered
        linePercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Line coverage percentage
        branchPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Branch coverage percentage
        byModule:
          type: object
          description: Per-module coverage breakdown
          additionalProperties:
            $ref: '#/components/schemas/ModuleFullCoverageModel'

    ModuleFullCoverageModel:
      type: object
      description: Full coverage metrics for a single module
      properties:
        moduleId:
          type: string
          description: Module identifier
        totalMethods:
          type: integer
          minimum: 0
          description: Total methods in this module
        coveredMethods:
          type: integer
          minimum: 0
          description: Methods with coverage in this module
        uncoveredMethods:
          type: integer
          minimum: 0
          description: Methods without coverage in this module
        totalExecutableLines:
          type: integer
          minimum: 0
          description: Total executable lines in this module
        coveredLines:
          type: integer
          minimum: 0
          description: Covered lines in this module
        missedLines:
          type: integer
          minimum: 0
          description: Missed lines in this module
        totalBranches:
          type: integer
          minimum: 0
          description: Total branches in this module
        coveredBranches:
          type: integer
          minimum: 0
          description: Covered branches in this module
        missedBranches:
          type: integer
          minimum: 0
          description: Missed branches in this module
        linePercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Line coverage percentage for this module
        branchPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Branch coverage percentage for this module

    # ==========================================================================
    # Module Quality (Per-Module Level)
    # ==========================================================================

    ModuleQualityModel:
      type: object
      description: |
        Per-module quality metrics.
        Each maven/gradle module has its own quality metrics that aggregate
        to the global project quality.

        NOTE: Fields without "InModule" suffix are commit-affected metrics (changed code only).
        Fields with "InModule" suffix are full module metrics (all code).
      properties:
        totalLines:
          type: integer
          minimum: 0
          description: Total lines of code in this module's changed files (commit-affected only)
        totalMethods:
          type: integer
          minimum: 0
          description: Total methods in this module's changed files (commit-affected only)
        filesChanged:
          type: integer
          minimum: 0
          description: Number of files changed in this module (commit-affected)
        codeUnitsAffected:
          type: integer
          minimum: 0
          description: Number of code units affected in this module (commit-affected)
        pmdViolations:
          type: integer
          minimum: 0
          description: PMD violations in this module's changed code (commit-affected only)
        spotbugsIssues:
          type: integer
          minimum: 0
          description: SpotBugs issues in this module's changed code (commit-affected only)
        totalPmdViolationsInModule:
          type: integer
          minimum: 0
          description: Total PMD violations across ALL code in this module (not just changed)
        totalSpotbugsIssuesInModule:
          type: integer
          minimum: 0
          description: Total SpotBugs issues across ALL code in this module (not just changed)
        averageCoverage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Average coverage percentage for this module's changed code (commit-affected only)
        averageComplexity:
          type: number
          format: double
          minimum: 0
          description: Average cyclomatic complexity for this module's changed code (commit-affected only)
        cpdDuplicationPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: CPD duplication percentage for this module
        totalMethodsInModule:
          type: integer
          minimum: 0
          description: Total methods in the entire module (not just changed)
        totalLinesInModule:
          type: integer
          minimum: 0
          description: Total lines of code in the entire module (not just changed)
        fullCoverage:
          $ref: '#/components/schemas/ModuleFullCoverageModel'
        criticalViolations:
          type: array
          description: ERROR-severity violations across all code in this module (PMD HIGH, SpotBugs HIGH_PRIORITY)
          items:
            $ref: '#/components/schemas/DiagnosticModel'

    # ==========================================================================
    # Dependencies - Top-level shared registry
    # ==========================================================================

    DependencyRegistryModel:
      type: object
      description: |
        Centralized dependency registry shared across all modules.
        Dependencies are stored once and referenced by ID from modules.
        Supports multiple ecosystems: Maven, NPM, PyPI, Go modules, Cargo, etc.
      properties:
        artifacts:
          type: object
          description: |
            Map of artifact ID to dependency details.
            Key format varies by ecosystem:
            - Maven: "groupId:artifactId:version" (e.g., "org.springframework:spring-core:6.1.0")
            - NPM: "package@version" (e.g., "lodash@4.17.21")
            - PyPI: "package==version" (e.g., "requests==2.31.0")
            - Go: "module@version" (e.g., "github.com/gin-gonic/gin@v1.9.1")
            - Cargo: "crate:version" (e.g., "serde:1.0.193")
          additionalProperties:
            $ref: '#/components/schemas/DependencyModel'

    DependencyModel:
      type: object
      description: |
        Abstract dependency model supporting multiple package ecosystems.
        Common fields work across ecosystems; ecosystem-specific details in dedicated objects.
      properties:
        name:
          type: string
        version:
          type: string
        ecosystem:
          type: string
          enum: [maven, npm, pypi, go, cargo, nuget, other]
        scope:
          type: string
        optional:
          type: boolean
          default: false
        transitive:
          type: boolean
          default: false
        snapshot:
          type: boolean
          default: false
        release:
          type: boolean
          default: false
        directDependants:
          type: array
          items:
            type: string
        licenses:
          type: array
          items:
            type: string
        repositoryUrl:
          type: string
          format: uri
        homepage:
          type: string
          format: uri
        mavenInfo:
          $ref: '#/components/schemas/MavenDependencyModel'
        npmInfo:
          $ref: '#/components/schemas/NpmDependencyModel'
        pypiInfo:
          $ref: '#/components/schemas/PypiDependencyModel'
        goInfo:
          $ref: '#/components/schemas/GoDependencyModel'
        cargoInfo:
          $ref: '#/components/schemas/CargoDependencyModel'

    MavenDependencyModel:
      type: object
      properties:
        groupId:
          type: string
        artifactId:
          type: string
        classifier:
          type: string
        type:
          type: string
          default: jar
        exclusions:
          type: array
          items:
            type: object
            properties:
              groupId:
                type: string
              artifactId:
                type: string

    NpmDependencyModel:
      type: object
      properties:
        resolved:
          type: string
          format: uri
        integrity:
          type: string
        peerDependenciesMeta:
          type: object
          additionalProperties:
            type: object
            properties:
              optional:
                type: boolean
        engines:
          type: object
          additionalProperties:
            type: string
        bundled:
          type: boolean

    PypiDependencyModel:
      type: object
      properties:
        extras:
          type: array
          items:
            type: string
        markers:
          type: string
        requiresPython:
          type: string
        wheel:
          type: boolean
        editable:
          type: boolean

    GoDependencyModel:
      type: object
      properties:
        module:
          type: string
        replace:
          type: string
        retract:
          type: array
          items:
            type: string
        indirect:
          type: boolean

    CargoDependencyModel:
      type: object
      properties:
        crate:
          type: string
        features:
          type: array
          items:
            type: string
        defaultFeatures:
          type: boolean
          default: true
        registry:
          type: string
        path:
          type: string
        git:
          type: string
          format: uri
        branch:
          type: string

    # ==========================================================================
    # Risk Score
    # ==========================================================================

    RiskScoreModel:
      type: object
      properties:
        overall:
          type: number
          format: double
          minimum: 0
          maximum: 100
        grade:
          type: string
          enum: [A, B, C, D, F]
        factors:
          $ref: '#/components/schemas/RiskFactorsModel'
        summary:
          type: string

    RiskAssessmentModel:
      type: object
      description: Risk assessment from LLM analysis
      properties:
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: Overall risk score (0-100)
        riskLevel:
          type: string
          enum: [low, moderate, high, very_high, critical]
          description: |
            Risk level based on score:
            - low: 0-20
            - moderate: 21-40
            - high: 41-60
            - very_high: 61-80
            - critical: 81-100

    RiskFactorsModel:
      type: object
      properties:
        blastRadius:
          type: integer
          minimum: 0
        productionCallers:
          type: integer
          minimum: 0
        testCallers:
          type: integer
          minimum: 0
        avgComplexity:
          type: number
          format: double
        maxComplexity:
          type: integer
        uncoveredChanges:
          type: integer
        coveragePercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        diagnosticCount:
          type: integer
        criticalDiagnostics:
          type: integer
        duplicatedPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100

    # ==========================================================================
    # Analysis Summary
    # ==========================================================================

    AnalysisSummaryModel:
      type: object
      properties:
        filesChanged:
          type: integer
          minimum: 0
        filesAnalyzed:
          type: integer
          minimum: 0
        codeUnitsAnalyzed:
          type: integer
          minimum: 0
        diagnostics:
          $ref: '#/components/schemas/DiagnosticSummaryModel'
        coverage:
          $ref: '#/components/schemas/CoverageSummaryModel'
        duplication:
          $ref: '#/components/schemas/DuplicationSummaryModel'
        quality:
          $ref: '#/components/schemas/QualitySummaryModel'

    DiagnosticSummaryModel:
      type: object
      properties:
        total:
          type: integer
          minimum: 0
        byLevel:
          type: object
          properties:
            error:
              type: integer
              minimum: 0
            warning:
              type: integer
              minimum: 0
            info:
              type: integer
              minimum: 0
        byTool:
          type: object
          additionalProperties:
            type: integer

    CoverageSummaryModel:
      type: object
      properties:
        line:
          $ref: '#/components/schemas/CoverageCounterModel'
        branch:
          $ref: '#/components/schemas/CoverageCounterModel'
        delta:
          type: object
          properties:
            line:
              type: number
              format: double
            branch:
              type: number
              format: double

    DuplicationSummaryModel:
      type: object
      properties:
        totalDuplicatedTokens:
          type: integer
          minimum: 0
        totalDuplicatedLines:
          type: integer
          minimum: 0
        duplicatedPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100

    QualitySummaryModel:
      type: object
      properties:
        score:
          type: number
          format: double
          minimum: 0
          maximum: 100
        grade:
          type: string
          enum: [A, B, C, D, E, F]
        passed:
          type: boolean

    # ==========================================================================
    # Project & Commit
    # ==========================================================================

    ProjectModel:
      type: object
      required: [id]
      properties:
        id:
          type: string
        name:
          type: string
        repositoryUrls:
          type: array
          items:
            type: string
            format: uri
        defaultBranch:
          type: string
          default: main
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleModel'
        totalLines:
          type: integer
          description: Total lines of code in the entire project
        totalFiles:
          type: integer
          description: Total number of source files
        totalMethods:
          type: integer
          description: Total number of methods

    ModuleModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        baseDirectory:
          type: string
        sourceRoots:
          type: array
          items:
            type: string
        testSourceRoots:
          type: array
          items:
            type: string
        dependencies:
          type: array
          items:
            type: string
        quality:
          $ref: '#/components/schemas/ModuleQualityModel'
        mavenInfo:
          $ref: '#/components/schemas/MavenModuleModel'
        npmInfo:
          $ref: '#/components/schemas/NpmModuleModel'
        pythonInfo:
          $ref: '#/components/schemas/PythonModuleModel'

    MavenModuleModel:
      type: object
      properties:
        groupId:
          type: string
        artifactId:
          type: string
        version:
          type: string
        packaging:
          type: string
          default: jar
        parent:
          type: string

    NpmModuleModel:
      type: object
      properties:
        packageName:
          type: string
        version:
          type: string
        private:
          type: boolean
        workspaces:
          type: array
          items:
            type: string

    PythonModuleModel:
      type: object
      properties:
        packageName:
          type: string
        version:
          type: string
        pythonVersion:
          type: string
        buildBackend:
          type: string

    CommitModel:
      type: object
      required: [sha]
      properties:
        sha:
          type: string
          pattern: '^[a-f0-9]{40}$'
        message:
          type: string
        author:
          type: string
        authorEmail:
          type: string
          format: email
        timestamp:
          type: string
          format: date-time
        parents:
          type: array
          items:
            type: string
        branches:
          type: array
          items:
            type: string
        isMerge:
          type: boolean
          default: false
        isRevert:
          type: boolean
          default: false
        revertedCommitId:
          type: string
          pattern: '^[a-f0-9]{40}$'

    ClientInfoModel:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        buildTool:
          type: string
          enum: [maven, gradle, npm, yarn, pnpm, pip, poetry, cargo, go, other]

    # ==========================================================================
    # File Changes
    # ==========================================================================

    FileChangeModel:
      type: object
      required: [path, changeType]
      properties:
        path:
          type: string
        previousPath:
          type: string
        changeType:
          type: string
          enum: [add, modify, delete, rename, copy]
        language:
          type: string
          enum: [java, kotlin, python, typescript, javascript, go, rust, other]
        isTest:
          type: boolean
          default: false
        module:
          type: string
        diff:
          type: string
        contentBefore:
          type: string
          nullable: true
        contentAfter:
          type: string
          nullable: true
        codeUnits:
          type: array
          items:
            $ref: '#/components/schemas/CodeUnitModel'
        metrics:
          $ref: '#/components/schemas/FileMetricsModel'
        coverage:
          $ref: '#/components/schemas/CoverageModel'
        qualityGrade:
          type: string
          enum: [A, B, C, D, E, F]

    FileMetricsModel:
      type: object
      properties:
        linesOfCode:
          type: integer
          minimum: 0
        sourceLines:
          type: integer
          minimum: 0
        blankLines:
          type: integer
          minimum: 0
        commentLines:
          type: integer
          minimum: 0
        codeUnits:
          type: integer
          minimum: 0
        classes:
          type: integer
          minimum: 0
        averageComplexity:
          type: number
          format: double

    # ==========================================================================
    # Code Units
    # ==========================================================================

    CodeUnitModel:
      type: object
      required: [signature, name, kind, location]
      properties:
        signature:
          type: string
        name:
          type: string
        kind:
          $ref: '#/components/schemas/SymbolKindModel'
        location:
          $ref: '#/components/schemas/LocationModel'
        body:
          type: string
        modifiers:
          type: array
          items:
            type: string
        isTrivial:
          type: boolean
          default: false
        javaInfo:
          $ref: '#/components/schemas/JavaInfoModel'
        callers:
          type: array
          items:
            $ref: '#/components/schemas/CallerModel'
        metrics:
          $ref: '#/components/schemas/MetricsModel'
        coverage:
          $ref: '#/components/schemas/CoverageModel'
        diagnostics:
          type: array
          items:
            $ref: '#/components/schemas/DiagnosticModel'
        operation:
          type: string
          enum: [NEW, MODIFY, DELETE]
          description: What happened to this code unit
        bodyBefore:
          type: string
          nullable: true
          description: Source code before change (for MODIFY)
        unitDiff:
          type: string
          description: Diff of just this code unit
        duplication:
          $ref: '#/components/schemas/CodeUnitDuplicationModel'

    SymbolKindModel:
      type: string
      enum:
        - class
        - interface
        - enum
        - record
        - method
        - constructor
        - field
        - constant
        - function
        - module
        - annotation
        - trait
        - lambda
        - closure

    LocationModel:
      type: object
      required: [startLine, endLine]
      properties:
        startLine:
          type: integer
          minimum: 1
        startColumn:
          type: integer
          minimum: 0
        endLine:
          type: integer
          minimum: 1
        endColumn:
          type: integer
          minimum: 0

    CodeUnitDuplicationModel:
      type: object
      properties:
        isDuplicated:
          type: boolean
          default: false
        duplicatePercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        duplicateOf:
          type: array
          items:
            type: string
        changedLinesAffected:
          type: boolean
          description: Do changed lines fall within duplicated regions?
          default: false

    # ==========================================================================
    # Java-Specific
    # ==========================================================================

    JavaInfoModel:
      type: object
      properties:
        packageName:
          type: string
        className:
          type: string
        enclosingClass:
          type: string
        isAnonymous:
          type: boolean
        isAbstract:
          type: boolean
        isFinal:
          type: boolean
        isStatic:
          type: boolean
        isSynchronized:
          type: boolean
        isDeprecated:
          type: boolean
        typeParameters:
          type: array
          items:
            type: string
        throwsTypes:
          type: array
          items:
            type: string
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/JavaAnnotationModel'
        methodCalls:
          type: array
          items:
            $ref: '#/components/schemas/MethodCallModel'

    JavaAnnotationModel:
      type: object
      properties:
        name:
          type: string
        qualifiedName:
          type: string
        arguments:
          type: object
          additionalProperties: true

    MethodCallModel:
      type: object
      required: [owner, name, descriptor]
      properties:
        owner:
          type: string
        name:
          type: string
        descriptor:
          type: string
        targetSignature:
          type: string
        targetClass:
          type: string
        targetMethod:
          type: string
        invocationKind:
          type: string
          enum: [invokevirtual, invokeinterface, invokespecial, invokestatic, invokedynamic, reference]
        isStatic:
          type: boolean
        isConstructor:
          type: boolean
        location:
          $ref: '#/components/schemas/LocationModel'
        artifact:
          type: string

    # ==========================================================================
    # Callers
    # ==========================================================================

    CallerModel:
      type: object
      required: [name, kind]
      properties:
        signature:
          type: string
        name:
          type: string
        kind:
          $ref: '#/components/schemas/SymbolKindModel'
        path:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'
        symbol:
          type: string
        isTest:
          type: boolean
          default: false
        isDeprecated:
          type: boolean
          default: false
        callSites:
          type: array
          items:
            $ref: '#/components/schemas/LocationModel'
        callerBody:
          type: string

    # ==========================================================================
    # Metrics
    # ==========================================================================

    MetricsModel:
      type: object
      properties:
        cyclomaticComplexity:
          type: integer
          minimum: 1
        cognitiveComplexity:
          type: integer
          minimum: 0
        linesOfCode:
          type: integer
          minimum: 0
        logicalLinesOfCode:
          type: integer
          minimum: 0
        parameterCount:
          type: integer
          minimum: 0
        fanOut:
          type: integer
          minimum: 0
          description: Number of distinct external classes used by the method
        npath:
          type: integer
          format: int64
          minimum: 0
          description: Number of acyclic execution paths through the method

    # ==========================================================================
    # Coverage
    # ==========================================================================

    CoverageModel:
      type: object
      properties:
        tool:
          type: string
          enum: [jacoco, cobertura, istanbul, coverage.py, other]
        linePercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        branchPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        line:
          $ref: '#/components/schemas/CoverageCounterModel'
        branch:
          $ref: '#/components/schemas/CoverageCounterModel'
        coveredLines:
          type: integer
          minimum: 0
        missedLines:
          type: integer
          minimum: 0
        coveredBranches:
          type: integer
          minimum: 0
        missedBranches:
          type: integer
          minimum: 0
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LineCoverageModel'

    CoverageCounterModel:
      type: object
      required: [covered, missed]
      properties:
        covered:
          type: integer
          minimum: 0
        missed:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
        percentage:
          type: number
          format: double
          minimum: 0
          maximum: 100

    LineCoverageModel:
      type: object
      required: [line, status]
      properties:
        line:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [empty, notCovered, partiallyCovered, fullyCovered, covered, partial, missed]
        hits:
          type: integer
          minimum: 0
        branches:
          $ref: '#/components/schemas/CoverageCounterModel'

    # ==========================================================================
    # Diagnostics
    # ==========================================================================

    DiagnosticModel:
      type: object
      required: [ruleId, severity, message]
      properties:
        tool:
          type: string
          enum: [pmd, spotbugs, checkstyle, errorprone, eslint, pylint, ruff, clippy, other]
        ruleId:
          type: string
        filePath:
          type: string
          description: Source file path relative to project root (set for module-level diagnostics)
        severity:
          type: string
          enum: [error, warning, info, note, none]
        message:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'
        category:
          type: string
        cwe:
          type: array
          items:
            type: string
            pattern: '^CWE-\d+$'
        documentation:
          type: string
          format: uri
        pmdInfo:
          $ref: '#/components/schemas/PmdPropertiesModel'
        spotbugsInfo:
          $ref: '#/components/schemas/SpotbugsPropertiesModel'

    PmdPropertiesModel:
      type: object
      properties:
        ruleSet:
          type: string
        priority:
          type: integer
          minimum: 1
          maximum: 5
        externalInfoUrl:
          type: string
          format: uri

    SpotbugsPropertiesModel:
      type: object
      properties:
        bugCategory:
          type: string
        bugRank:
          type: integer
          minimum: 1
          maximum: 20
        confidence:
          type: string
          enum: [high, medium, low]
        methodSignature:
          type: string

    # ==========================================================================
    # Duplication
    # ==========================================================================

    DuplicationReportModel:
      type: object
      properties:
        tool:
          type: string
          enum: [pmd-cpd, jscpd, simian, other]
          default: pmd-cpd
        minimumTokens:
          type: integer
          default: 100
        totalDuplicatedTokens:
          type: integer
          minimum: 0
        totalDuplicatedLines:
          type: integer
          minimum: 0
        duplicatedPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
        clones:
          type: array
          items:
            $ref: '#/components/schemas/CloneModel'
        clonesFromExisting:
          type: array
          items:
            $ref: '#/components/schemas/CloneFromExistingModel'
        newClones:
          type: array
          items:
            $ref: '#/components/schemas/NewCloneGroupModel'

    CloneModel:
      type: object
      required: [locations]
      properties:
        tokenCount:
          type: integer
          minimum: 1
        lineCount:
          type: integer
          minimum: 1
        isCrossFile:
          type: boolean
        locations:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/CloneLocationModel'

    CloneLocationModel:
      type: object
      required: [path, location]
      properties:
        path:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'
        codeUnitSignature:
          type: string
        sourceSlice:
          type: string

    CloneFromExistingModel:
      type: object
      required: [affectedSignature, sourceSignatures]
      properties:
        affectedSignature:
          type: string
        sourceSignatures:
          type: array
          items:
            type: string

    NewCloneGroupModel:
      type: object
      required: [memberSignatures]
      properties:
        memberSignatures:
          type: array
          minItems: 1
          items:
            type: string

    CodeUnitRefModel:
      type: object
      required: [signature]
      properties:
        module:
          type: string
        signature:
          type: string
        path:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'

    # ==========================================================================
    # Codebase Index
    # ==========================================================================

    CodebaseIndexModel:
      type: object
      properties:
        totalCodeUnits:
          type: integer
          minimum: 0
        totalFiles:
          type: integer
          minimum: 0
        skippedFiles:
          type: integer
          minimum: 0
        ignoredFiles:
          type: integer
          minimum: 0
        totalNonTrivial:
          type: integer
          minimum: 0
        skippedTrivial:
          type: integer
          minimum: 0
        codeUnits:
          type: array
          items:
            $ref: '#/components/schemas/CodeUnitRefModel'

    BugsModel:
      type: object
      properties:
        blocking:
          type: array
          items:
            $ref: '#/components/schemas/BugModel'
        major:
          type: array
          items:
            $ref: '#/components/schemas/BugModel'
        minor:
          type: array
          items:
            $ref: '#/components/schemas/BugModel'
        hasBlockingBugs:
          type: boolean
          default: false

    BugModel:
      type: object
      required: [type, title, description]
      properties:
        type:
          type: string
          enum: [security, concurrency, data_corruption, logic, resource_leak, null_pointer, performance, api_misuse, architecture, other]
        title:
          type: string
        description:
          type: string
        file:
          type: string
        line:
          type: integer
        suggestedFix:
          type: string
        confidence:
          type: string
          enum: [high, medium, low]
        source:
          type: string
          enum: [llm, pmd, spotbugs]

    AssessmentModel:
      type: object
      properties:
        thinking:
          type: string
        diffAnalysis:
          $ref: '#/components/schemas/DiffAnalysisModel'
        riskDimensions:
          $ref: '#/components/schemas/RiskDimensionsModel'
        qualityAssessment:
          $ref: '#/components/schemas/LlmQualityAssessmentModel'
        blastRadiusAnalysis:
          $ref: '#/components/schemas/BlastRadiusAnalysisModel'
        staticAnalysisReview:
          $ref: '#/components/schemas/StaticAnalysisReviewModel'
        effortBreakdown:
          $ref: '#/components/schemas/EffortBreakdownModel'
        qualityMultiplier:
          $ref: '#/components/schemas/QualityMultiplierModel'
        architectureEffortBonus:
          $ref: '#/components/schemas/ArchitectureEffortBonusModel'

    EffortBreakdownModel:
      type: object
      description: Breakdown of base effort score calculation
      properties:
        volumeScore:
          $ref: '#/components/schemas/VolumeScoreModel'
        complexityMultiplier:
          $ref: '#/components/schemas/ComplexityMultiplierModel'
        baseEffortScore:
          type: number
          format: double
          minimum: 0
          maximum: 100

              
    VolumeScoreModel:
      type: object
      description: |
        Volume-based effort score calculation using power-law scaling.
        Formula: score = count^exponent × score_factor × multiplier
      properties:
        linesChanged:
          type: integer
          minimum: 0
          description: Total effective lines of code changed (imports excluded)
        linesScore:
          type: number
          format: double
          description: Score from lines changed (power-law scaling)
        filesChanged:
          type: integer
          minimum: 0
          description: Number of files changed in the commit
        contentScore:
          type: number
          format: double
          description: Sum of content dimension scores (lines, code blocks, classes) before files multiplier
        filesScopeMultiplier:
          type: number
          format: double
          description: Scope multiplier from files changed, dampened by content density
        fileDensity:
          type: number
          format: double
          description: Content density dampening factor (0.0-1.0). Reduces file scope multiplier when per-file changes are trivial.
        codeBlocksModified:
          type: integer
          minimum: 0
          description: Number of existing code blocks modified
        codeBlocksModifiedScore:
          type: number
          format: double
          description: Score for modifying code blocks (with complexity bonus)
        codeBlocksAdded:
          type: integer
          minimum: 0
          description: Number of new code blocks added
        codeBlocksAddedScore:
          type: number
          format: double
          description: Score for adding code blocks (with clean code bonus)
        classesModified:
          type: integer
          minimum: 0
          description: Number of existing classes modified
        classesModifiedScore:
          type: number
          format: double
          description: Score for modifying classes
        classesAdded:
          type: integer
          minimum: 0
          description: Number of new classes added
        classesAddedScore:
          type: number
          format: double
          description: Score for adding classes
        sizeFactor:
          type: number
          format: double
          description: |
            Cube root normalization factor based on project size.
            Formula: cbrt(project_total_lines) / 100
        modifyMultiplier:
          type: number
          format: double
          description: |
            Multiplier for modification operations.
            Formula: 1.0 + min(sizeFactor * 0.3, 0.2)
        addMultiplier:
          type: number
          format: double
          description: |
            Multiplier for addition operations.
            Formula: 1.0 + (0.1 / (1.0 + sizeFactor))
        totalVolumeScore:
          type: number
          format: double
          description: Final volume score (sum of all component scores)

    ComplexityMultiplierModel:
      type: object
      description: |
        Complexity multiplier based on cyclomatic complexity.
        MODIFY = bonus (reward tackling hard code), CREATE = penalty for high complexity.
      properties:
        avgModifyComplexity:
          type: number
          format: double
          description: Average cyclomatic complexity of modified methods
        modifyMultiplier:
          type: number
          format: double
          description: Multiplier for modifying existing complex code (bonus)
        avgCreateComplexity:
          type: number
          format: double
          description: Average cyclomatic complexity of new methods
        createMultiplier:
          type: number
          format: double
          description: Multiplier for creating new code (penalty if complex)
        combinedMultiplier:
          type: number
          format: double
          description: Combined multiplier (average of modify and create if both apply)

    QualityMultiplierModel:
      type: object
      description: |
        Quality multiplier calculation breakdown.
        Formula: quality_multiplier = 1.0 + sum(impacts), clamped to [0.5, 1.2]
      properties:
        cpdAnalysis:
          $ref: '#/components/schemas/CpdAnalysisModel'
        staticAnalysis:
          $ref: '#/components/schemas/StaticAnalysisImpactModel'
        coverageAnalysis:
          $ref: '#/components/schemas/CoverageAnalysisModel'
        architectureAnalysis:
          $ref: '#/components/schemas/ArchitectureAnalysisModel'
        qualityGateAnalysis:
          $ref: '#/components/schemas/QualityGateAnalysisModel'
        finalMultiplier:
          type: number
          format: double
          minimum: 0.5
          maximum: 1.2

    CpdAnalysisModel:
      type: object
      description: Copy-paste detection analysis
      properties:
        duplicationPercent:
          type: number
          format: double
          description: Percentage of duplicated code in changed files
        impact:
          type: number
          format: double
          description: Impact on quality multiplier (+0.05 clean, -0.10 to -0.30 for duplication)

    StaticAnalysisImpactModel:
      type: object
      description: PMD and SpotBugs analysis impact
      properties:
        pmdViolationsInChanges:
          type: integer
          minimum: 0
          description: PMD violations in changed lines only
        spotbugsIssuesInChanges:
          type: integer
          minimum: 0
          description: SpotBugs issues in changed lines only
        impact:
          type: number
          format: double
          description: Impact on quality multiplier (capped at -0.30)

    CoverageAnalysisModel:
      type: object
      description: Test coverage analysis
      properties:
        coveragePercent:
          type: number
          format: double
          description: Coverage percentage of changed code
        impact:
          type: number
          format: double
          description: Impact on quality multiplier (+0.10 excellent, -0.15 terrible)

    ArchitectureAnalysisModel:
      type: object
      description: Architecture and SOLID principles analysis
      properties:
        solidViolations:
          type: array
          items:
            type: string
          description: List of SOLID principle violations
        architectureIssues:
          type: array
          items:
            type: string
          description: List of architecture issues (god class, circular deps, etc.)
        penaltyImpact:
          type: number
          format: double
          description: Penalty impact on quality multiplier for violations (capped at -0.20)

    ArchitectureEffortBonusModel:
      type: object
      description: |
        Bonus points for significant, quality architecture work.
        Formula: bonus = architectureImpact × baseEffort × 0.01 × qualityFactor
      properties:
        architectureImpactScore:
          type: integer
          minimum: 0
          maximum: 10
          description: Architecture impact dimension score (0-10)
        qualityFactor:
          type: number
          format: double
          minimum: 0.0
          maximum: 1.0
          description: Quality factor (0.0-1.0) based on coverage, bugs, and code quality
        baseEffort:
          type: number
          format: double
          description: Base effort score used for bonus calculation
        bonusCalculation:
          type: string
          description: Human-readable formula showing the calculation
        bonusPoints:
          type: number
          format: double
          minimum: 0
          description: Final bonus points added to the final score

    QualityGateAnalysisModel:
      type: object
      description: Quality gate failures analysis
      properties:
        failedGates:
          type: array
          items:
            type: string
          description: List of failed quality gates with reasons
        impact:
          type: number
          format: double
          description: Impact on quality multiplier (-0.03 per failed gate, capped at -0.15)

    DiffAnalysisModel:
      type: object
      properties:
        primaryChangeType:
          type: string
          enum: [log_message, comment, string_literal, import_formatting, simple_refactor, configuration, error_handling, business_logic, control_flow, data_access, api_contract, concurrency, security]
        changesBusinessLogic:
          type: boolean
        changesControlFlow:
          type: boolean
        touchesConcurrency:
          type: boolean
        touchesSecurity:
          type: boolean
        rationale:
          type: string

    RiskDimensionsModel:
      type: object
      properties:
        architectureImpact:
          $ref: '#/components/schemas/DimensionScoreModel'
        concurrencyRisk:
          $ref: '#/components/schemas/DimensionScoreModel'
        integrationSurface:
          $ref: '#/components/schemas/DimensionScoreModel'
        dataIntegrity:
          $ref: '#/components/schemas/DimensionScoreModel'
        securitySensitivity:
          $ref: '#/components/schemas/DimensionScoreModel'
        scalabilityImpact:
          $ref: '#/components/schemas/DimensionScoreModel'
        observability:
          $ref: '#/components/schemas/DimensionScoreModel'
        resilience:
          $ref: '#/components/schemas/DimensionScoreModel'
        performance:
          $ref: '#/components/schemas/DimensionScoreModel'
        testingCoverage:
          $ref: '#/components/schemas/DimensionScoreModel'

    DimensionScoreModel:
      type: object
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 10
        rationale:
          type: string
        qualityGateMet:
          type: boolean
          description: Whether the quality gate for this dimension is satisfied

    LlmQualityAssessmentModel:
      type: object
      properties:
        newCodeQuality:
          $ref: '#/components/schemas/NewCodeQualityModel'
        modifyCodeQuality:
          $ref: '#/components/schemas/ModifyCodeQualityModel'
        copyPasteAssessment:
          $ref: '#/components/schemas/CopyPasteAssessmentModel'

    NewCodeQualityModel:
      type: object
      properties:
        codeBlocksAdded:
          type: integer
          default: 0
        avgComplexity:
          type: number
          format: double
          default: 0
        isClean:
          type: boolean
          default: true
        concerns:
          type: array
          items:
            type: string

    ModifyCodeQualityModel:
      type: object
      properties:
        codeBlocksModified:
          type: integer
          default: 0
        improvedQuality:
          type: boolean
          default: true
        missedImprovementOpportunities:
          type: array
          items:
            type: string

    CopyPasteAssessmentModel:
      type: object
      properties:
        affectsChangedLines:
          type: boolean
          default: false
        touchedWithoutImproving:
          type: boolean
          default: false
        copyPastePercent:
          type: number
          format: double
          default: 0
        concerns:
          type: array
          items:
            type: string

    BlastRadiusAnalysisModel:
      type: object
      description: |
        Blast radius analysis for the commit including module type classification,
        signature change detection, and external impact estimation.
      properties:
        totalCallers:
          type: integer
          default: 0
          description: Total number of callers (internal) for affected methods
        productionCallers:
          type: integer
          default: 0
          description: Number of production code callers
        testCallers:
          type: integer
          default: 0
          description: Number of test code callers
        riskLevel:
          type: string
          enum: [low, moderate, high, critical]
          default: low
          description: Overall blast radius risk level
        affectedModules:
          type: array
          items:
            type: string
          description: List of modules affected by changes
        criticalCallers:
          type: array
          items:
            type: string
          description: List of critical callers (services, controllers)
        moduleType:
          type: string
          enum: [core_library, shared_utility, leaf_application]
          description: |
            Classification of the module being modified:
            - core_library: Reusable foundation (*-core, *-common, *-api, *-client)
            - shared_utility: Helper code across modules (*-utils, *-shared)
            - leaf_application: End application (*-service, *-app, *-web)
        signatureChanges:
          $ref: '#/components/schemas/SignatureChangesModel'
        externalImpactEstimate:
          type: string
          enum: [none, low, medium, high, unknown]
          description: |
            Estimated impact on external consumers (not visible in internal caller data):
            - none: No external impact
            - low: Minor impact, backwards compatible
            - medium: Some consumers may need updates
            - high: Breaking change, many consumers affected
            - unknown: Cannot determine without external visibility
        explanation:
          type: string
          description: Explanation of blast radius analysis

    SignatureChangesModel:
      type: object
      description: Analysis of method signature changes for API impact
      properties:
        hasBreakingChanges:
          type: boolean
          default: false
          description: Whether any signature changes are breaking
        changedSignatures:
          type: array
          items:
            type: string
          description: List of method signatures that changed
        breakingChangeType:
          type: string
          enum: [parameter_added, parameter_removed, parameter_changed, return_type_changed, exception_added]
          nullable: true
          description: Type of breaking change if applicable

    StaticAnalysisReviewModel:
      type: object
      properties:
        pmdValidated:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        pmdFalsePositives:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        pmdInChangedLines:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        pmdPreExisting:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        spotbugsValidated:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        spotbugsFalsePositives:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        spotbugsInChangedLines:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        spotbugsPreExisting:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'
        preExistingIssues:
          type: array
          items:
            $ref: '#/components/schemas/StaticAnalysisFindingModel'

    StaticAnalysisFindingModel:
      type: object
      properties:
        rule:
          type: string
          description: The rule/bug ID (e.g., PMD rule name or SpotBugs bug pattern)
        file:
          type: string
          description: The file path where the issue was found
        line:
          type: integer
          nullable: true
          description: The line number where the issue was found
        assessment:
          type: string
          description: Brief assessment or explanation of the finding
        severity:
          type: string
          enum: [error, warning, info]
          description: Severity level - error (penalized), warning (informational), info (low priority)

    ReviewTagsModel:
      type: object
      properties:
        technical:
          type: array
          items:
            type: string
        functional:
          type: array
          items:
            type: string

    ExistingTagsModel:
      type: object
      properties:
        technical:
          type: array
          items:
            type: string
        functional:
          type: array
          items:
            type: string

    # ==========================================================================
    # LLM Analysis (Tool Usage, Tokens, etc.)
    # ==========================================================================

    LlmAnalysisModel:
      type: object
      description: |
        LLM analysis metadata including model used, token usage, tool invocations,
        and analysis duration. Used for tracking and auditing LLM-powered analysis.
      properties:
        model:
          type: string
          description: LLM model identifier used for analysis (e.g., "qwen3-coder:480b-cloud")
        provider:
          type: string
          description: LLM provider (e.g., "ollama", "openai", "anthropic")
        tokenUsage:
          $ref: '#/components/schemas/TokenUsageModel'
        toolUsage:
          $ref: '#/components/schemas/ToolUsageModel'
        analysisTimeMs:
          type: integer
          minimum: 0
          description: Time taken for LLM analysis in milliseconds
        thinking:
          type: string
          description: LLM's reasoning in markdown format (if native thinking is enabled)
        promptLength:
          type: integer
          minimum: 0
          description: Total length of system prompt + user message in characters

    TokenUsageModel:
      type: object
      description: Token usage statistics from LLM API call
      properties:
        promptTokens:
          type: integer
          minimum: 0
          description: Number of tokens in the input prompt
        completionTokens:
          type: integer
          minimum: 0
          description: Number of tokens in the LLM response
        totalTokens:
          type: integer
          minimum: 0
          description: Total tokens (prompt + completion)

    ToolUsageModel:
      type: object
      description: |
        Information about tools invoked during LLM analysis.
        Tools include web search for dependency migration guides.
      properties:
        toolCallsCount:
          type: integer
          minimum: 0
          description: Total number of tool invocations during analysis
        webSearchCalls:
          type: array
          items:
            $ref: '#/components/schemas/WebSearchCallModel'
          description: Web search tool invocations (for dependency analysis)

    WebSearchCallModel:
      type: object
      description: |
        Web search tool invocation for finding library migration guides,
        breaking changes, and technical documentation.
      properties:
        query:
          type: string
          description: Search query (e.g., "Spring Boot 3 to 4 migration breaking changes")
        maxResults:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Maximum number of results requested
        results:
          type: array
          items:
            $ref: '#/components/schemas/WebSearchResultModel'
          description: Search results returned

    WebSearchResultModel:
      type: object
      description: Individual web search result
      properties:
        title:
          type: string
          description: Result page title
        url:
          type: string
          format: uri
          description: URL of the result
        snippet:
          type: string
          description: Content snippet/summary from the page

    # ==========================================================================
    # Scoring Config (RunArgs non-transient fields)
    # ==========================================================================

    ScoringConfigModel:
      type: object
      properties:
        commitId:
          type: string
        jdtlsVersion:
          type: string
        pmdMinPriority:
          type: string
        spotbugsPriorityThreshold:
          type: integer
        spotbugsOmitVisitors:
          type: string
        includeUntracked:
          type: boolean
        autoBuild:
          type: boolean
        dumpAnalysis:
          type: boolean
        ignoreCoverage:
          type: boolean
        ignoreComplexity:
          type: boolean
        ignoreCpd:
          type: boolean
        ignoreDiagnostics:
          type: boolean
        hideSourceCode:
          type: boolean
        importTimeout:
          type: string
          description: ISO-8601 duration
        lspQueryTimeout:
          type: string
          description: ISO-8601 duration
        connectTimeout:
          type: string
          description: ISO-8601 duration
        readTimeout:
          type: string
          description: ISO-8601 duration
        maxRequests:
          type: integer
        maxRequestsPerHost:
          type: integer
        cpdMinimumTileSize:
          type: integer
        cpdIntroducedThreshold:
          type: number
          format: double
        llmModel:
          type: string
        llmBaseUrl:
          type: string
        llmTemperature:
          type: number
          format: double
        llmTopP:
          type: number
          format: double
        llmMaxTokens:
          type: integer
        llmMaxRetries:
          type: integer
        llmEnableWebSearchTool:
          type: boolean
        includeBranches:
          type: string
        includeAuthorEmails:
          type: string
        sizeFactorDivisor:
          type: number
          format: double
        modifyMultiplierScale:
          type: number
          format: double
        modifyMultiplierCap:
          type: number
          format: double
        addMultiplierScale:
          type: number
          format: double
        relativeAdjustmentFactor:
          type: number
          format: double
        relativeAdjustmentMin:
          type: number
          format: double
        relativeAdjustmentMax:
          type: number
          format: double
        qualityMultiplierMin:
          type: number
          format: double
        qualityMultiplierMax:
          type: number
          format: double
        staticAnalysisPenaltyCap:
          type: number
          format: double
        staticAnalysisIntroducedPenalty:
          type: number
          format: double
        staticAnalysisPreExistingPenalty:
          type: number
          format: double
        staticAnalysisCleanBonus:
          type: number
          format: double
        architecturePenaltyCap:
          type: number
          format: double
        qualityGatePenaltyCap:
          type: number
          format: double
        defaultComplexityMultiplier:
          type: number
          format: double
        volumeExponent:
          type: number
          format: double
        filesScopeFactor:
          type: number
          format: double
        fileDensityThreshold:
          type: number
          format: double
        linesDensityCapMultiplier:
          type: number
          format: double
        ncssQuantile:
          type: number
          format: double
        coverageLowThreshold:
          type: number
          format: double
        coverageCriticalThreshold:
          type: number
          format: double
        coverageHighThreshold:
          type: number
          format: double
        highComplexityThreshold:
          type: integer
        linesLogFactor:
          type: number
          format: double
        codeBlocksModifiedLogFactor:
          type: number
          format: double
        codeBlocksAddedLogFactor:
          type: number
          format: double
        classesModifiedLogFactor:
          type: number
          format: double
        classesAddedLogFactor:
          type: number
          format: double
        complexityTrivialMax:
          type: integer
        complexityModerateMax:
          type: integer
        complexityComplexMax:
          type: integer
        modifyTrivialMultiplier:
          type: number
          format: double
        modifyModerateMultiplier:
          type: number
          format: double
        modifyComplexMultiplier:
          type: number
          format: double
        modifyHighlyComplexMultiplier:
          type: number
          format: double
        createTrivialMultiplier:
          type: number
          format: double
        createModerateMultiplier:
          type: number
          format: double
        createComplexMultiplier:
          type: number
          format: double
        createHighlyComplexMultiplier:
          type: number
          format: double
        cpdCleanBonus:
          type: number
          format: double
        cpdModeratePenalty:
          type: number
          format: double
        cpdHighPenalty:
          type: number
          format: double
        cpdSeverePenalty:
          type: number
          format: double
        cpdCleanThreshold:
          type: number
          format: double
        cpdAcceptableThreshold:
          type: number
          format: double
        cpdModerateThreshold:
          type: number
          format: double
        cpdHighThreshold:
          type: number
          format: double
        testCodePenaltyWeight:
          type: number
          format: double
        scoreThresholdHuge:
          type: integer
        scoreThresholdLarge:
          type: integer
        scoreThresholdMedium:
          type: integer
        scoreThresholdSmall:
          type: integer
        dimensionScoreCritical:
          type: integer
        dimensionScoreMajor:
          type: integer
        dimensionScoreModerate:
          type: integer
        callerThresholdHigh:
          type: integer
        callerThresholdModerate:
          type: integer
        maxClonesToShow:
          type: integer
        maxSourceLines:
          type: integer
        truncateSourceLines:
          type: integer
        architectureBonusFactor:
          type: number
          format: double
        pmdPriority1Penalty:
          type: number
          format: double
        pmdPriority2Penalty:
          type: number
          format: double
        pmdPriority3Penalty:
          type: number
          format: double
        spotbugsScariestPenalty:
          type: number
          format: double
        spotbugsScaryPenalty:
          type: number
          format: double
        spotbugsTroublingPenalty:
          type: number
          format: double
        coverageExcellentBonus:
          type: number
          format: double
        coverageGoodBonus:
          type: number
          format: double
        coverageLowPenalty:
          type: number
          format: double
        coveragePoorPenalty:
          type: number
          format: double
        coverageTerriblePenalty:
          type: number
          format: double
        architectureMinorPenalty:
          type: number
          format: double
        architectureSolidPenalty:
          type: number
          format: double
        architectureMajorPenalty:
          type: number
          format: double
        qualityGateFailurePenalty:
          type: number
          format: double
        architectureImpactScoreThreshold:
          type: integer
        architectureImpactCoverageRequired:
          type: integer
        concurrencyRiskThreshold:
          type: integer
        integrationSurfaceThreshold:
          type: integer
        dataIntegrityThreshold:
          type: integer
        securitySensitivityThreshold:
          type: integer
        scalabilityImpactThreshold:
          type: integer
        observabilityThreshold:
          type: integer
        resilienceThreshold:
          type: integer
        performanceThreshold:
          type: integer
        seniorReviewThreshold:
          type: integer
        seniorReviewCriticalThreshold:
          type: integer
        complexityHighDisplayThreshold:
          type: integer
        complexityModerateDisplayThreshold:
          type: integer
        similarityCriticalThreshold:
          type: number
          format: double
        similarityMajorThreshold:
          type: number
          format: double
        riskHighDimensionThreshold:
          type: integer
        riskBaseMultiplier:
          type: integer
        riskHighDimensionPenalty:
          type: integer
        riskCoreLibraryPenalty:
          type: integer
        riskBreakingChangesPenalty:
          type: integer
        riskScoreMax:
          type: integer
        riskLevelLowMax:
          type: integer
        riskLevelModerateMax:
          type: integer
        riskLevelHighMax:
          type: integer
        riskLevelVeryHighMax:
          type: integer
        coverageImpactExcellentMin:
          type: integer
        coverageImpactGoodMin:
          type: integer
        coverageImpactAcceptableMin:
          type: integer
        coverageImpactLowMin:
          type: integer
        coverageImpactPoorMin:
          type: integer
        fanOutHighThreshold:
          type: integer
        npathComplexThreshold:
          type: integer

    # ==========================================================================
    # Error
    # ==========================================================================

    ErrorModel:
      type: object
      required: [status, message]
      properties:
        type:
          type: string
          format: uri
        status:
          type: integer
        title:
          type: string
        message:
          type: string
        detail:
          type: string
        instance:
          type: string
          format: uri
        traceId:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
              code:
                type: string
              rejectedValue: {}