openapi: 3.0.3
info:
  title: Codiqo API
  description: |
    API for code commit analysis optimized for LLM-based risk assessment and automated fixes.
    
    ## Purpose
    - Calculate commit risk/complexity scores based on code changes and their impact
    - Provide caller information for blast radius analysis
    - Enable automated PR suggestions via LLM + JDTLS integration
    - Detect code duplication (copy-paste detection)
    - Index codebase for cross-reference analysis
    
    ## Key Concepts
    - **Affected Code Units**: Methods/constructors changed in a commit
    - **Callers**: Who calls the affected code (impact/blast radius)
    - **Diagnostics**: Static analysis issues in affected code
    - **Coverage**: Test coverage of affected code
    - **Duplication**: Copy-paste detection results
    - **Codebase Index**: Full codebase symbol index for CPD resolution
    
    ## Risk Scoring Factors
    - Number of callers (blast radius)
    - Complexity metrics (cyclomatic, cognitive)
    - Test coverage of affected code
    - Static analysis violations
    - Whether callers are in test vs production code
    - Code duplication percentage
    
    ## LLM Scoring
    - LLM makes 100% judgment (0-100 score)
    - DIFF is the primary signal, not container metrics
    - Bugs classified as BLOCKING/MAJOR/MINOR
    - Quality assessment: NEW code clean, MODIFY improves
  version: 1.0
  contact:
    name: Codiqo
    url: https://codiqo.io

servers:
  - url: https://api.codiqo.io
    description: Production

tags:
  - name: Analysis
    description: Commit analysis and risk scoring

paths:
  /api/v1/analyses:
    post:
      operationId: submitAnalysis
      tags: [Analysis]
      summary: Submit commit analysis for risk scoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisSubmissionModel'
      responses:
        '202':
          description: Analysis accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisAcceptedModel'
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
        - apiKey: []

  /api/v1/analyses/{analysisId}:
    get:
      operationId: getAnalysis
      tags: [Analysis]
      summary: Get analysis result with risk score
      parameters:
        - name: analysisId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisResultModel'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - apiKey: []

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'

  schemas:
    # ==========================================================================
    # Main Request/Response
    # ==========================================================================

    AnalysisSubmissionModel:
      type: object
      required: [project, commit, files]
      properties:
        project:
          $ref: '#/components/schemas/ProjectModel'
        commit:
          $ref: '#/components/schemas/CommitModel'
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileChangeModel'
        dependencies:
          $ref: '#/components/schemas/DependencyRegistryModel'
        duplication:
          $ref: '#/components/schemas/DuplicationReportModel'
        index:
          $ref: '#/components/schemas/CodebaseIndexModel'
        client:
          $ref: '#/components/schemas/ClientInfoModel'
        existingTags:
          $ref: '#/components/schemas/ExistingTagsModel'
        projectMetrics:
          $ref: '#/components/schemas/ProjectMetricsModel'
        projectQuality:
          $ref: '#/components/schemas/ProjectQualityModel'
        fullProjectCoverage:
          $ref: '#/components/schemas/FullProjectCoverageModel'

    AnalysisAcceptedModel:
      type: object
      required: [analysisId, status]
      properties:
        analysisId:
          type: string
          format: uuid
        status:
          type: string
          enum: [accepted, processing]
        estimatedCompletionSeconds:
          type: integer
          minimum: 0
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
            status:
              type: string
              format: uri

    AnalysisResultModel:
      type: object
      required: [analysisId, project, commit, riskScore]
      properties:
        analysisId:
          type: string
          format: uuid
        project:
          $ref: '#/components/schemas/ProjectModel'
        commit:
          $ref: '#/components/schemas/CommitModel'
        status:
          type: string
          enum: [pending, processing, completed, failed]
        riskScore:
          $ref: '#/components/schemas/RiskScoreModel'
        summary:
          $ref: '#/components/schemas/AnalysisSummaryModel'
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileChangeModel'
        dependencies:
          $ref: '#/components/schemas/DependencyRegistryModel'
        duplication:
          $ref: '#/components/schemas/DuplicationReportModel'
        completedAt:
          type: string
          format: date-time
        changeClassification:
          type: string
          enum: [trivial, low_risk, moderate_risk, high_risk, critical_risk]
          description: LLM classification of the change type
        bugs:
          $ref: '#/components/schemas/BugsModel'
        assessment:
          $ref: '#/components/schemas/AssessmentModel'
        requiresSeniorReview:
          type: integer
          minimum: 0
          maximum: 10
          description: |
            0 = No review needed
            1-3 = Optional peer review
            4-6 = Recommended review
            7-8 = Senior review recommended
            9-10 = Critical review required
        seniorReviewReasons:
          type: array
          items:
            type: string
        tags:
          $ref: '#/components/schemas/ReviewTagsModel'
        projectMetrics:
          $ref: '#/components/schemas/ProjectMetricsModel'
        projectQuality:
          $ref: '#/components/schemas/ProjectQualityModel'
        fullProjectCoverage:
          $ref: '#/components/schemas/FullProjectCoverageModel'

    # ==========================================================================
    # Project Metrics & Quality (Global Level)
    # ==========================================================================

    ProjectMetricsModel:
      type: object
      description: |
        Global project-level metrics aggregated across all modules.
        Provides context for LLM scoring relative to project size.
      properties:
        totalLines:
          type: integer
          minimum: 0
          description: Total lines of code across all modules in the project
        totalFiles:
          type: integer
          minimum: 0
          description: Total number of source files in the project
        totalMethods:
          type: integer
          minimum: 0
          description: Total number of methods across all modules
        totalClasses:
          type: integer
          minimum: 0
          description: Total number of classes across all modules
        averageComplexity:
          type: number
          format: double
          minimum: 0
          description: Average cyclomatic complexity across all methods
        averageCoverage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Average test coverage percentage across all code

    ProjectQualityModel:
      type: object
      description: |
        Global project-level quality metrics for the commit.
        Aggregated across all changed files and modules.
      properties:
        totalPmdViolations:
          type: integer
          minimum: 0
          description: Total PMD violations across all changed files
        totalSpotbugsIssues:
          type: integer
          minimum: 0
          description: Total SpotBugs issues across all changed files
        averageCoverage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Average coverage percentage across all changed code units
        cpdDuplicationPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: CPD duplication percentage across all changed files
        filesChanged:
          type: integer
          minimum: 0
          description: Number of files changed in this commit
        codeUnitsAffected:
          type: integer
          minimum: 0
          description: Number of code units (methods/constructors) affected
        averageComplexity:
          type: number
          format: double
          minimum: 0
          description: Average complexity of changed code units

    # ==========================================================================
    # Full Project Coverage (All Code Units)
    # ==========================================================================

    FullProjectCoverageModel:
      type: object
      description: |
        Complete coverage metrics for ALL code units in the project,
        not just commit-affected ones. Provides baseline for coverage gates.
      properties:
        totalMethods:
          type: integer
          minimum: 0
          description: Total methods/constructors in the project
        coveredMethods:
          type: integer
          minimum: 0
          description: Methods with at least partial coverage
        uncoveredMethods:
          type: integer
          minimum: 0
          description: Methods with zero coverage
        totalExecutableLines:
          type: integer
          minimum: 0
          description: Total executable lines across all methods
        coveredLines:
          type: integer
          minimum: 0
          description: Lines that are covered (full or partial)
        missedLines:
          type: integer
          minimum: 0
          description: Lines that are not covered
        totalBranches:
          type: integer
          minimum: 0
          description: Total branches across all methods
        coveredBranches:
          type: integer
          minimum: 0
          description: Branches that are covered
        missedBranches:
          type: integer
          minimum: 0
          description: Branches that are not covered
        linePercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Line coverage percentage
        branchPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Branch coverage percentage
        byModule:
          type: object
          description: Per-module coverage breakdown
          additionalProperties:
            $ref: '#/components/schemas/ModuleFullCoverageModel'

    ModuleFullCoverageModel:
      type: object
      description: Full coverage metrics for a single module
      properties:
        moduleId:
          type: string
          description: Module identifier
        totalMethods:
          type: integer
          minimum: 0
          description: Total methods in this module
        coveredMethods:
          type: integer
          minimum: 0
          description: Methods with coverage in this module
        uncoveredMethods:
          type: integer
          minimum: 0
          description: Methods without coverage in this module
        totalExecutableLines:
          type: integer
          minimum: 0
          description: Total executable lines in this module
        coveredLines:
          type: integer
          minimum: 0
          description: Covered lines in this module
        missedLines:
          type: integer
          minimum: 0
          description: Missed lines in this module
        totalBranches:
          type: integer
          minimum: 0
          description: Total branches in this module
        coveredBranches:
          type: integer
          minimum: 0
          description: Covered branches in this module
        missedBranches:
          type: integer
          minimum: 0
          description: Missed branches in this module
        linePercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Line coverage percentage for this module
        branchPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Branch coverage percentage for this module

    # ==========================================================================
    # Module Quality (Per-Module Level)
    # ==========================================================================

    ModuleQualityModel:
      type: object
      description: |
        Per-module quality metrics.
        Each maven/gradle module has its own quality metrics that aggregate
        to the global project quality.

        NOTE: Fields without "InModule" suffix are commit-affected metrics (changed code only).
        Fields with "InModule" suffix are full module metrics (all code).
      properties:
        totalLines:
          type: integer
          minimum: 0
          description: Total lines of code in this module's changed files (commit-affected only)
        totalMethods:
          type: integer
          minimum: 0
          description: Total methods in this module's changed files (commit-affected only)
        filesChanged:
          type: integer
          minimum: 0
          description: Number of files changed in this module (commit-affected)
        codeUnitsAffected:
          type: integer
          minimum: 0
          description: Number of code units affected in this module (commit-affected)
        pmdViolations:
          type: integer
          minimum: 0
          description: PMD violations in this module's changed code (commit-affected only)
        spotbugsIssues:
          type: integer
          minimum: 0
          description: SpotBugs issues in this module's changed code (commit-affected only)
        totalPmdViolationsInModule:
          type: integer
          minimum: 0
          description: Total PMD violations across ALL code in this module (not just changed)
        totalSpotbugsIssuesInModule:
          type: integer
          minimum: 0
          description: Total SpotBugs issues across ALL code in this module (not just changed)
        averageCoverage:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Average coverage percentage for this module's changed code (commit-affected only)
        averageComplexity:
          type: number
          format: double
          minimum: 0
          description: Average cyclomatic complexity for this module's changed code (commit-affected only)
        cpdDuplicationPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: CPD duplication percentage for this module
        totalMethodsInModule:
          type: integer
          minimum: 0
          description: Total methods in the entire module (not just changed)
        totalLinesInModule:
          type: integer
          minimum: 0
          description: Total lines of code in the entire module (not just changed)
        fullCoverage:
          $ref: '#/components/schemas/ModuleFullCoverageModel'

    # ==========================================================================
    # Dependencies - Top-level shared registry
    # ==========================================================================

    DependencyRegistryModel:
      type: object
      description: |
        Centralized dependency registry shared across all modules.
        Dependencies are stored once and referenced by ID from modules.
        Supports multiple ecosystems: Maven, NPM, PyPI, Go modules, Cargo, etc.
      properties:
        artifacts:
          type: object
          description: |
            Map of artifact ID to dependency details.
            Key format varies by ecosystem:
            - Maven: "groupId:artifactId:version" (e.g., "org.springframework:spring-core:6.1.0")
            - NPM: "package@version" (e.g., "lodash@4.17.21")
            - PyPI: "package==version" (e.g., "requests==2.31.0")
            - Go: "module@version" (e.g., "github.com/gin-gonic/gin@v1.9.1")
            - Cargo: "crate:version" (e.g., "serde:1.0.193")
          additionalProperties:
            $ref: '#/components/schemas/DependencyModel'

    DependencyModel:
      type: object
      description: |
        Abstract dependency model supporting multiple package ecosystems.
        Common fields work across ecosystems; ecosystem-specific details in dedicated objects.
      properties:
        name:
          type: string
        version:
          type: string
        ecosystem:
          type: string
          enum: [maven, npm, pypi, go, cargo, nuget, other]
        scope:
          type: string
        optional:
          type: boolean
          default: false
        transitive:
          type: boolean
          default: false
        snapshot:
          type: boolean
          default: false
        release:
          type: boolean
          default: false
        directDependants:
          type: array
          items:
            type: string
        licenses:
          type: array
          items:
            type: string
        repositoryUrl:
          type: string
          format: uri
        homepage:
          type: string
          format: uri
        maven:
          $ref: '#/components/schemas/MavenDependencyModel'
        npm:
          $ref: '#/components/schemas/NpmDependencyModel'
        pypi:
          $ref: '#/components/schemas/PypiDependencyModel'
        go:
          $ref: '#/components/schemas/GoDependencyModel'
        cargo:
          $ref: '#/components/schemas/CargoDependencyModel'

    MavenDependencyModel:
      type: object
      properties:
        groupId:
          type: string
        artifactId:
          type: string
        classifier:
          type: string
        type:
          type: string
          default: jar
        exclusions:
          type: array
          items:
            type: object
            properties:
              groupId:
                type: string
              artifactId:
                type: string

    NpmDependencyModel:
      type: object
      properties:
        resolved:
          type: string
          format: uri
        integrity:
          type: string
        peerDependenciesMeta:
          type: object
          additionalProperties:
            type: object
            properties:
              optional:
                type: boolean
        engines:
          type: object
          additionalProperties:
            type: string
        bundled:
          type: boolean

    PypiDependencyModel:
      type: object
      properties:
        extras:
          type: array
          items:
            type: string
        markers:
          type: string
        requiresPython:
          type: string
        wheel:
          type: boolean
        editable:
          type: boolean

    GoDependencyModel:
      type: object
      properties:
        module:
          type: string
        replace:
          type: string
        retract:
          type: array
          items:
            type: string
        indirect:
          type: boolean

    CargoDependencyModel:
      type: object
      properties:
        crate:
          type: string
        features:
          type: array
          items:
            type: string
        defaultFeatures:
          type: boolean
          default: true
        registry:
          type: string
        path:
          type: string
        git:
          type: string
          format: uri
        branch:
          type: string

    # ==========================================================================
    # Risk Score
    # ==========================================================================

    RiskScoreModel:
      type: object
      properties:
        overall:
          type: number
          format: double
          minimum: 0
          maximum: 100
        grade:
          type: string
          enum: [A, B, C, D, F]
        factors:
          $ref: '#/components/schemas/RiskFactorsModel'
        summary:
          type: string

    RiskFactorsModel:
      type: object
      properties:
        blastRadius:
          type: integer
          minimum: 0
        productionCallers:
          type: integer
          minimum: 0
        testCallers:
          type: integer
          minimum: 0
        avgComplexity:
          type: number
          format: double
        maxComplexity:
          type: integer
        uncoveredChanges:
          type: integer
        coveragePercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        diagnosticCount:
          type: integer
        criticalDiagnostics:
          type: integer
        duplicatedPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100

    # ==========================================================================
    # Analysis Summary
    # ==========================================================================

    AnalysisSummaryModel:
      type: object
      properties:
        filesChanged:
          type: integer
          minimum: 0
        filesAnalyzed:
          type: integer
          minimum: 0
        codeUnitsAnalyzed:
          type: integer
          minimum: 0
        diagnostics:
          $ref: '#/components/schemas/DiagnosticSummaryModel'
        coverage:
          $ref: '#/components/schemas/CoverageSummaryModel'
        duplication:
          $ref: '#/components/schemas/DuplicationSummaryModel'
        quality:
          $ref: '#/components/schemas/QualitySummaryModel'

    DiagnosticSummaryModel:
      type: object
      properties:
        total:
          type: integer
          minimum: 0
        byLevel:
          type: object
          properties:
            error:
              type: integer
              minimum: 0
            warning:
              type: integer
              minimum: 0
            info:
              type: integer
              minimum: 0
        byTool:
          type: object
          additionalProperties:
            type: integer

    CoverageSummaryModel:
      type: object
      properties:
        line:
          $ref: '#/components/schemas/CoverageCounterModel'
        branch:
          $ref: '#/components/schemas/CoverageCounterModel'
        delta:
          type: object
          properties:
            line:
              type: number
              format: double
            branch:
              type: number
              format: double

    DuplicationSummaryModel:
      type: object
      properties:
        totalDuplicatedTokens:
          type: integer
          minimum: 0
        totalDuplicatedLines:
          type: integer
          minimum: 0
        duplicatedPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100

    QualitySummaryModel:
      type: object
      properties:
        score:
          type: number
          format: double
          minimum: 0
          maximum: 100
        grade:
          type: string
          enum: [A, B, C, D, E, F]
        passed:
          type: boolean

    # ==========================================================================
    # Project & Commit
    # ==========================================================================

    ProjectModel:
      type: object
      required: [id]
      properties:
        id:
          type: string
        name:
          type: string
        repositoryUrls:
          type: array
          items:
            type: string
            format: uri
        defaultBranch:
          type: string
          default: main
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleModel'
        totalLines:
          type: integer
          description: Total lines of code in the entire project
        totalFiles:
          type: integer
          description: Total number of source files
        totalMethods:
          type: integer
          description: Total number of methods

    ModuleModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        baseDirectory:
          type: string
        sourceRoots:
          type: array
          items:
            type: string
        testSourceRoots:
          type: array
          items:
            type: string
        dependencies:
          type: array
          items:
            type: string
        quality:
          $ref: '#/components/schemas/ModuleQualityModel'
        maven:
          $ref: '#/components/schemas/MavenModuleModel'
        npm:
          $ref: '#/components/schemas/NpmModuleModel'
        python:
          $ref: '#/components/schemas/PythonModuleModel'

    MavenModuleModel:
      type: object
      properties:
        groupId:
          type: string
        artifactId:
          type: string
        version:
          type: string
        packaging:
          type: string
          default: jar
        parent:
          type: string

    NpmModuleModel:
      type: object
      properties:
        packageName:
          type: string
        version:
          type: string
        private:
          type: boolean
        workspaces:
          type: array
          items:
            type: string

    PythonModuleModel:
      type: object
      properties:
        packageName:
          type: string
        version:
          type: string
        pythonVersion:
          type: string
        buildBackend:
          type: string

    CommitModel:
      type: object
      required: [sha]
      properties:
        sha:
          type: string
          pattern: '^[a-f0-9]{40}$'
        message:
          type: string
        author:
          type: string
        authorEmail:
          type: string
          format: email
        timestamp:
          type: string
          format: date-time
        parents:
          type: array
          items:
            type: string
        branches:
          type: array
          items:
            type: string
        isMerge:
          type: boolean
          default: false

    ClientInfoModel:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        buildTool:
          type: string
          enum: [maven, gradle, npm, yarn, pnpm, pip, poetry, cargo, go, other]

    # ==========================================================================
    # File Changes
    # ==========================================================================

    FileChangeModel:
      type: object
      required: [path, changeType]
      properties:
        path:
          type: string
        previousPath:
          type: string
        changeType:
          type: string
          enum: [add, modify, delete, rename, copy]
        language:
          type: string
          enum: [java, kotlin, python, typescript, javascript, go, rust, other]
        isTest:
          type: boolean
          default: false
        module:
          type: string
        diff:
          type: string
        contentBefore:
          type: string
        contentAfter:
          type: string
        codeUnits:
          type: array
          items:
            $ref: '#/components/schemas/CodeUnitModel'
        metrics:
          $ref: '#/components/schemas/FileMetricsModel'
        qualityGrade:
          type: string
          enum: [A, B, C, D, E, F]

    FileMetricsModel:
      type: object
      properties:
        linesOfCode:
          type: integer
          minimum: 0
        sourceLines:
          type: integer
          minimum: 0
        blankLines:
          type: integer
          minimum: 0
        commentLines:
          type: integer
          minimum: 0
        codeUnits:
          type: integer
          minimum: 0
        classes:
          type: integer
          minimum: 0
        averageComplexity:
          type: number
          format: double

    # ==========================================================================
    # Code Units
    # ==========================================================================

    CodeUnitModel:
      type: object
      required: [signature, name, kind, location]
      properties:
        signature:
          type: string
        name:
          type: string
        kind:
          $ref: '#/components/schemas/SymbolKindModel'
        location:
          $ref: '#/components/schemas/LocationModel'
        body:
          type: string
        modifiers:
          type: array
          items:
            type: string
        documentation:
          type: string
        isTrivial:
          type: boolean
          default: false
        parent:
          type: string
        children:
          type: array
          items:
            type: string
        java:
          $ref: '#/components/schemas/JavaInfoModel'
        callers:
          type: array
          items:
            $ref: '#/components/schemas/CallerModel'
        metrics:
          $ref: '#/components/schemas/MetricsModel'
        coverage:
          $ref: '#/components/schemas/CoverageModel'
        diagnostics:
          type: array
          items:
            $ref: '#/components/schemas/DiagnosticModel'
        operation:
          type: string
          enum: [NEW, MODIFY, DELETE]
          description: What happened to this code unit
        bodyBefore:
          type: string
          description: Source code before change (for MODIFY)
        unitDiff:
          type: string
          description: Diff of just this code unit
        duplication:
          $ref: '#/components/schemas/CodeUnitDuplicationModel'

    SymbolKindModel:
      type: string
      enum:
        - class
        - interface
        - enum
        - record
        - method
        - constructor
        - field
        - constant
        - function
        - module
        - annotation
        - trait
        - lambda
        - closure

    LocationModel:
      type: object
      required: [startLine, endLine]
      properties:
        startLine:
          type: integer
          minimum: 1
        startColumn:
          type: integer
          minimum: 0
        endLine:
          type: integer
          minimum: 1
        endColumn:
          type: integer
          minimum: 0
        startOffset:
          type: integer
          minimum: 0
        endOffset:
          type: integer
          minimum: 0

    CodeUnitDuplicationModel:
      type: object
      properties:
        isDuplicated:
          type: boolean
          default: false
        duplicatePercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        duplicateOf:
          type: array
          items:
            type: string
        changedLinesAffected:
          type: boolean
          description: Do changed lines fall within duplicated regions?
          default: false

    # ==========================================================================
    # Java-Specific
    # ==========================================================================

    JavaInfoModel:
      type: object
      properties:
        packageName:
          type: string
        className:
          type: string
        enclosingClass:
          type: string
        isAnonymous:
          type: boolean
        isAbstract:
          type: boolean
        isFinal:
          type: boolean
        isStatic:
          type: boolean
        isSynchronized:
          type: boolean
        isDeprecated:
          type: boolean
        typeParameters:
          type: array
          items:
            type: string
        throwsTypes:
          type: array
          items:
            type: string
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/JavaAnnotationModel'
        methodCalls:
          type: array
          items:
            $ref: '#/components/schemas/MethodCallModel'

    JavaAnnotationModel:
      type: object
      properties:
        name:
          type: string
        qualifiedName:
          type: string
        arguments:
          type: object
          additionalProperties: true

    MethodCallModel:
      type: object
      required: [owner, name, descriptor]
      properties:
        owner:
          type: string
        name:
          type: string
        descriptor:
          type: string
        targetSignature:
          type: string
        targetClass:
          type: string
        targetMethod:
          type: string
        invocationKind:
          type: string
          enum: [invokevirtual, invokeinterface, invokespecial, invokestatic, invokedynamic, reference]
        isStatic:
          type: boolean
        isConstructor:
          type: boolean
        location:
          $ref: '#/components/schemas/LocationModel'
        artifact:
          type: string

    # ==========================================================================
    # Callers
    # ==========================================================================

    CallerModel:
      type: object
      required: [name, kind]
      properties:
        signature:
          type: string
        name:
          type: string
        kind:
          $ref: '#/components/schemas/SymbolKindModel'
        path:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'
        symbol:
          type: string
        isTest:
          type: boolean
          default: false
        isDeprecated:
          type: boolean
          default: false
        callSites:
          type: array
          items:
            $ref: '#/components/schemas/LocationModel'

    # ==========================================================================
    # Metrics
    # ==========================================================================

    MetricsModel:
      type: object
      properties:
        cyclomaticComplexity:
          type: integer
          minimum: 1
        cognitiveComplexity:
          type: integer
          minimum: 0
        linesOfCode:
          type: integer
          minimum: 0
        logicalLinesOfCode:
          type: integer
          minimum: 0
        sourceLines:
          type: integer
          minimum: 0
        commentLines:
          type: integer
          minimum: 0
        parameterCount:
          type: integer
          minimum: 0
        nestingDepth:
          type: integer
          minimum: 0
        halstead:
          $ref: '#/components/schemas/HalsteadMetricsModel'
        maintainabilityIndex:
          type: number
          format: double
          minimum: 0
          maximum: 100

    HalsteadMetricsModel:
      type: object
      properties:
        distinctOperators:
          type: integer
          minimum: 0
        distinctOperands:
          type: integer
          minimum: 0
        totalOperators:
          type: integer
          minimum: 0
        totalOperands:
          type: integer
          minimum: 0
        vocabulary:
          type: integer
          minimum: 0
        length:
          type: integer
          minimum: 0
        volume:
          type: number
          format: double
        difficulty:
          type: number
          format: double
        effort:
          type: number
          format: double
        estimatedTime:
          type: number
          format: double
        estimatedBugs:
          type: number
          format: double

    # ==========================================================================
    # Coverage
    # ==========================================================================

    CoverageModel:
      type: object
      properties:
        tool:
          type: string
          enum: [jacoco, cobertura, istanbul, coverage.py, other]
        linePercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        branchPercent:
          type: number
          format: double
          minimum: 0
          maximum: 100
        line:
          $ref: '#/components/schemas/CoverageCounterModel'
        branch:
          $ref: '#/components/schemas/CoverageCounterModel'
        coveredLines:
          type: integer
          minimum: 0
        missedLines:
          type: integer
          minimum: 0
        coveredBranches:
          type: integer
          minimum: 0
        missedBranches:
          type: integer
          minimum: 0
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LineCoverageModel'

    CoverageCounterModel:
      type: object
      required: [covered, missed]
      properties:
        covered:
          type: integer
          minimum: 0
        missed:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
        percentage:
          type: number
          format: double
          minimum: 0
          maximum: 100

    LineCoverageModel:
      type: object
      required: [line, status]
      properties:
        line:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [empty, notCovered, partiallyCovered, fullyCovered, covered, partial, missed]
        hits:
          type: integer
          minimum: 0
        branches:
          $ref: '#/components/schemas/CoverageCounterModel'

    # ==========================================================================
    # Diagnostics
    # ==========================================================================

    DiagnosticModel:
      type: object
      required: [ruleId, severity, message]
      properties:
        tool:
          type: string
          enum: [pmd, spotbugs, checkstyle, errorprone, eslint, pylint, ruff, clippy, other]
        ruleId:
          type: string
        severity:
          type: string
          enum: [error, warning, info, note, none]
        message:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'
        category:
          type: string
        cwe:
          type: array
          items:
            type: string
            pattern: '^CWE-\d+$'
        documentation:
          type: string
          format: uri
        pmd:
          $ref: '#/components/schemas/PmdPropertiesModel'
        spotbugs:
          $ref: '#/components/schemas/SpotbugsPropertiesModel'
        isPreExisting:
          type: boolean
          description: Did this issue exist before this commit?
          default: false

    PmdPropertiesModel:
      type: object
      properties:
        ruleSet:
          type: string
        priority:
          type: integer
          minimum: 1
          maximum: 5
        externalInfoUrl:
          type: string
          format: uri

    SpotbugsPropertiesModel:
      type: object
      properties:
        bugCategory:
          type: string
        bugRank:
          type: integer
          minimum: 1
          maximum: 20
        confidence:
          type: string
          enum: [high, medium, low]
        methodSignature:
          type: string

    # ==========================================================================
    # Duplication
    # ==========================================================================

    DuplicationReportModel:
      type: object
      properties:
        tool:
          type: string
          enum: [pmd-cpd, jscpd, simian, other]
          default: pmd-cpd
        minimumTokens:
          type: integer
          default: 100
        totalDuplicatedTokens:
          type: integer
          minimum: 0
        totalDuplicatedLines:
          type: integer
          minimum: 0
        duplicatedPercentage:
          type: number
          format: double
          minimum: 0
          maximum: 100
        clones:
          type: array
          items:
            $ref: '#/components/schemas/CloneModel'
        clonesFromExisting:
          type: array
          items:
            $ref: '#/components/schemas/CloneFromExistingModel'
        newClones:
          type: array
          items:
            $ref: '#/components/schemas/NewCloneGroupModel'

    CloneModel:
      type: object
      required: [locations]
      properties:
        tokenCount:
          type: integer
          minimum: 1
        lineCount:
          type: integer
          minimum: 1
        isCrossFile:
          type: boolean
        locations:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/CloneLocationModel'

    CloneLocationModel:
      type: object
      required: [path, location]
      properties:
        path:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'
        codeUnitSignature:
          type: string
        sourceSlice:
          type: string

    CloneFromExistingModel:
      type: object
      required: [affectedSignature, sourceSignatures]
      properties:
        affectedSignature:
          type: string
        sourceSignatures:
          type: array
          items:
            type: string

    NewCloneGroupModel:
      type: object
      required: [memberSignatures]
      properties:
        memberSignatures:
          type: array
          minItems: 2
          items:
            type: string

    CodeUnitRefModel:
      type: object
      required: [signature]
      properties:
        module:
          type: string
        signature:
          type: string
        path:
          type: string
        location:
          $ref: '#/components/schemas/LocationModel'

    # ==========================================================================
    # Codebase Index
    # ==========================================================================

    CodebaseIndexModel:
      type: object
      properties:
        totalCodeUnits:
          type: integer
          minimum: 0
        totalFiles:
          type: integer
          minimum: 0
        skippedFiles:
          type: integer
          minimum: 0
        ignoredFiles:
          type: integer
          minimum: 0
        totalNonTrivial:
          type: integer
          minimum: 0
        skippedTrivial:
          type: integer
          minimum: 0
        codeUnits:
          type: array
          items:
            $ref: '#/components/schemas/CodeUnitRefModel'

    BugsModel:
      type: object
      properties:
        blocking:
          type: array
          items:
            $ref: '#/components/schemas/BugModel'
        major:
          type: array
          items:
            $ref: '#/components/schemas/BugModel'
        minor:
          type: array
          items:
            $ref: '#/components/schemas/BugModel'
        hasBlockingBugs:
          type: boolean
          default: false

    BugModel:
      type: object
      required: [type, title, description]
      properties:
        type:
          type: string
          enum: [security, concurrency, data_corruption, logic, resource_leak, null_pointer, performance, api_misuse, architecture, other]
        title:
          type: string
        description:
          type: string
        file:
          type: string
        line:
          type: integer
        suggestedFix:
          type: string
        confidence:
          type: string
          enum: [high, medium, low]
        source:
          type: string
          enum: [llm, pmd, spotbugs]

    AssessmentModel:
      type: object
      properties:
        thinking:
          type: string
        diffAnalysis:
          $ref: '#/components/schemas/DiffAnalysisModel'
        riskDimensions:
          $ref: '#/components/schemas/RiskDimensionsModel'
        qualityAssessment:
          $ref: '#/components/schemas/LlmQualityAssessmentModel'
        blastRadiusAnalysis:
          $ref: '#/components/schemas/BlastRadiusAnalysisModel'
        staticAnalysisReview:
          $ref: '#/components/schemas/StaticAnalysisReviewModel'
        effortBreakdown:
          $ref: '#/components/schemas/EffortBreakdownModel'
        qualityMultiplier:
          $ref: '#/components/schemas/QualityMultiplierModel'

    EffortBreakdownModel:
      type: object
      description: Breakdown of base effort score calculation
      properties:
        volumeScore:
          $ref: '#/components/schemas/VolumeScoreModel'
        complexityMultiplier:
          $ref: '#/components/schemas/ComplexityMultiplierModel'
        baseEffortScore:
          type: number
          format: double
          minimum: 0
          maximum: 100

              
    VolumeScoreModel:
      type: object
      description: |
        Volume-based effort score calculation.
        NOTE: Files touched is intentionally excluded - code units (methods, classes) 
        provide better granularity for productivity measurement.
      properties:
        linesChanged:
          type: integer
          minimum: 0
          description: Total lines of code changed in the commit
        linesPoints:
          type: number
          format: double
          description: Points earned from lines changed (with relative scaling)
        methodsModified:
          type: integer
          minimum: 0
          description: Number of existing methods modified
        methodsModifiedPoints:
          type: number
          format: double
          description: Points for modifying methods (with complexity multiplier)
        methodsAdded:
          type: integer
          minimum: 0
          description: Number of new methods added
        methodsAddedPoints:
          type: number
          format: double
          description: Points for adding methods (with clean code bonus)
        classesModified:
          type: integer
          minimum: 0
          description: Number of existing classes modified
        classesModifiedPoints:
          type: number
          format: double
          description: Points for modifying classes
        classesAdded:
          type: integer
          minimum: 0
          description: Number of new classes added
        classesAddedPoints:
          type: number
          format: double
          description: Points for adding classes
        projectSizeFactor:
          type: number
          format: double
          description: |
            Cube root normalization factor based on project size.
            Used for relative scoring: cbrt(project_total_lines) / 100
        modifyMultiplier:
          type: number
          format: double
          description: |
            Multiplier for modification operations.
            Slightly higher for larger projects (harder to navigate).
            Formula: 1.0 + min(projectSizeFactor * 0.3, 0.2)
        addMultiplier:
          type: number
          format: double
          description: |
            Multiplier for addition operations.
            Contribution is more significant in smaller codebases.
            Formula: 1.0 + (0.1 / (1.0 + projectSizeFactor))
        totalVolumeScore:
          type: number
          format: double
          description: Final volume score (sum of all component scores, capped at max)

    ComplexityMultiplierModel:
      type: object
      properties:
        avgModifyComplexity:
          type: number
          format: double
        modifyMultiplier:
          type: number
          format: double
        avgNewComplexity:
          type: number
          format: double
        newMultiplier:
          type: number
          format: double
        combinedMultiplier:
          type: number
          format: double

    QualityMultiplierModel:
      type: object
      description: Quality multiplier calculation breakdown
      properties:
        cpdAnalysis:
          $ref: '#/components/schemas/CpdAnalysisModel'
        staticAnalysis:
          $ref: '#/components/schemas/StaticAnalysisImpactModel'
        coverageAnalysis:
          $ref: '#/components/schemas/CoverageAnalysisModel'
        architectureAnalysis:
          $ref: '#/components/schemas/ArchitectureAnalysisModel'
        finalMultiplier:
          type: number
          format: double
          minimum: 0.5
          maximum: 1.2

    CpdAnalysisModel:
      type: object
      properties:
        duplicationPercent:
          type: number
          format: double
        affectsChangedCode:
          type: boolean
        multiplierImpact:
          type: number
          format: double

    StaticAnalysisImpactModel:
      type: object
      properties:
        pmdViolationsInChanges:
          type: integer
          minimum: 0
        spotbugsIssuesInChanges:
          type: integer
          minimum: 0
        multiplierImpact:
          type: number
          format: double

    CoverageAnalysisModel:
      type: object
      properties:
        coveragePercent:
          type: number
          format: double
        multiplierImpact:
          type: number
          format: double

    ArchitectureAnalysisModel:
      type: object
      properties:
        solidViolations:
          type: array
          items:
            type: string
        architectureIssues:
          type: array
          items:
            type: string
        multiplierImpact:
          type: number
          format: double

    DiffAnalysisModel:
      type: object
      properties:
        primaryChangeType:
          type: string
          enum: [log_message, comment, string_literal, import_formatting, simple_refactor, configuration, error_handling, business_logic, control_flow, data_access, api_contract, concurrency, security]
        changesBusinessLogic:
          type: boolean
        changesControlFlow:
          type: boolean
        touchesConcurrency:
          type: boolean
        touchesSecurity:
          type: boolean
        rationale:
          type: string

    RiskDimensionsModel:
      type: object
      properties:
        architectureImpact:
          $ref: '#/components/schemas/DimensionScoreModel'
        concurrencyRisk:
          $ref: '#/components/schemas/DimensionScoreModel'
        integrationSurface:
          $ref: '#/components/schemas/DimensionScoreModel'
        dataIntegrity:
          $ref: '#/components/schemas/DimensionScoreModel'
        securitySensitivity:
          $ref: '#/components/schemas/DimensionScoreModel'
        scalabilityImpact:
          $ref: '#/components/schemas/DimensionScoreModel'
        observability:
          $ref: '#/components/schemas/DimensionScoreModel'
        resilience:
          $ref: '#/components/schemas/DimensionScoreModel'
        performance:
          $ref: '#/components/schemas/DimensionScoreModel'
        testingCoverage:
          $ref: '#/components/schemas/DimensionScoreModel'

    DimensionScoreModel:
      type: object
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 10
        rationale:
          type: string
        qualityGateMet:
          type: boolean
          description: Whether the quality gate for this dimension is satisfied

    LlmQualityAssessmentModel:
      type: object
      properties:
        newCodeQuality:
          $ref: '#/components/schemas/NewCodeQualityModel'
        modifyCodeQuality:
          $ref: '#/components/schemas/ModifyCodeQualityModel'
        copyPasteAssessment:
          $ref: '#/components/schemas/CopyPasteAssessmentModel'

    NewCodeQualityModel:
      type: object
      properties:
        methodsAdded:
          type: integer
          default: 0
        avgComplexity:
          type: number
          format: double
          default: 0
        isClean:
          type: boolean
          default: true
        concerns:
          type: array
          items:
            type: string

    ModifyCodeQualityModel:
      type: object
      properties:
        methodsModified:
          type: integer
          default: 0
        improvedQuality:
          type: boolean
          default: true
        missedImprovementOpportunities:
          type: array
          items:
            type: string

    CopyPasteAssessmentModel:
      type: object
      properties:
        affectsChangedLines:
          type: boolean
          default: false
        touchedWithoutImproving:
          type: boolean
          default: false
        copyPastePercent:
          type: number
          format: double
          default: 0
        concerns:
          type: array
          items:
            type: string

    BlastRadiusAnalysisModel:
      type: object
      properties:
        totalCallers:
          type: integer
          default: 0
        productionCallers:
          type: integer
          default: 0
        testCallers:
          type: integer
          default: 0
        riskLevel:
          type: string
          enum: [low, moderate, high, critical]
          default: low
        affectedModules:
          type: array
          items:
            type: string
        criticalCallers:
          type: array
          items:
            type: string
        explanation:
          type: string

    StaticAnalysisReviewModel:
      type: object
      properties:
        pmdValidated:
          type: array
          items:
            type: string
        pmdFalsePositives:
          type: array
          items:
            type: string
        pmdInChangedLines:
          type: array
          items:
            type: string
        pmdPreExisting:
          type: array
          items:
            type: string
        spotbugsValidated:
          type: array
          items:
            type: string
        spotbugsFalsePositives:
          type: array
          items:
            type: string
        spotbugsInChangedLines:
          type: array
          items:
            type: string
        spotbugsPreExisting:
          type: array
          items:
            type: string
        preExistingIssues:
          type: array
          items:
            type: string

    ReviewTagsModel:
      type: object
      properties:
        technical:
          type: array
          items:
            type: string
        functional:
          type: array
          items:
            type: string

    ExistingTagsModel:
      type: object
      properties:
        technical:
          type: array
          items:
            type: string
        functional:
          type: array
          items:
            type: string

    # ==========================================================================
    # Error
    # ==========================================================================

    ErrorModel:
      type: object
      required: [status, message]
      properties:
        type:
          type: string
          format: uri
        status:
          type: integer
        title:
          type: string
        message:
          type: string
        detail:
          type: string
        instance:
          type: string
          format: uri
        traceId:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
              code:
                type: string
              rejectedValue: {}